<aside>
  <mat-action-list dense>
    <ng-container *ngFor="let profile of actives$ | async">
      <button mat-list-item class="active" (click)="deactivate(profile.name)">
        <mat-icon mat-list-icon>signal_cellular_4_bar</mat-icon>
        <span mat-line>{{ profile.name }}</span>
      </button >
    </ng-container>
    <ng-container *ngFor="let profile of idles$ | async">
      <button mat-list-item class="idle" (click)="activate(profile.name)">
        <mat-icon mat-list-icon>signal_cellular_off</mat-icon>
        <span mat-line>{{ profile.name }}</span>
      </button >
    </ng-container>
  </mat-action-list>
</aside>

<main>
  <section host="main"></section>
  <footer>
    <engine-terminal></engine-terminal>
  </footer>
</main>