@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}